<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome To Relative URL Templates!</h1>
    <!-- When referencing this anchor tag with a template tag, basic_app is from the app urls.py file 'app_name' and 'other' is from that list name -->
    <a href="{% url 'basic_app:other' %}">The other page</a> <br>
    <a href="{% url 'admin:index' %}"> ADMIN PORTAL</a><br>
    <a href="{% url 'index' %}">LINK TO INDEX</a>
</body>
</html>